.order-history{
    &_item{
        &_progress{
            max-width: 400px;
        }
        h3{
            span{font-weight: bold;}
        }
        margin-bottom:20px;

        &_date{
            font-weight: bold;
        }

        &_products{
            &_item{
                display: flex;
                &_image{
                    max-width: 100px;
                }
            }
        }
    }
}