@import '../../shared/Style/index.scss';

.addresses{
    text-align: left;
    max-width: 380px;

    &_btn-add{
        @include hyGenieBtn;
        width: 100%;
        margin-top: 20px;

    }

    &_address{
        &_item{
            margin-bottom: 10px;
            display: flex;
            justify-content: space-around;

            &_content{
                width: 300px;
                margin-left: 10px;
            }

            &_textarea{
                width: 100%;
                height: 100px;
            }

            &_btn{
                padding: 0px;
                height: 30px;
                width: 30px;
                margin-left: 5px;
                background-color: $grey-e5e5e5;
                border: 1px solid $primary-color;
                font-weight: bold;
                border-radius: 50%;
                cursor: pointer;
                color: $secondary-color;
            }
        }
    }
}