@import '../../shared/Style/index';

.form {
    &_field {
        @include formField;
    }
    &_btn {
        @include hyGenieBtn;
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: $margin;
    }
}
