@import '../../shared/Style/index';

// Banner
.banner {
    position: relative;
    max-width: 1600px;
    margin: auto;
    &_img {
        width: 100%;
        max-width: 1600px;
        margin: auto;
        display: block;
        height: 400px;
    }
    &_content {
        position: absolute;
        top: 0;
        left: 10%;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        text-align: left;
    }

    &_head {
        font-size: 3rem;
        margin: 0;
        color: $white;
        line-height: 1.2;
    }

    &_text {
        font-size: 1.8rem;
    }

    &_btn {
        @include hyGenieBtn;
        width: 28%;
        text-align: center;
        text-decoration: none;
    }
}

// New Arrivals
.newArrivals {
    @include sectionPadding;
    &_heading {
        @include sectionHeading;
    }
    &_content {
        @include sectionWidth;
        display: flex;
        .product-item {
            width: 25%;
        }
    }
    &_list {
        @include productCard;
        &-img {
            max-height: 200px;
        }
    }
}

// desktop and ipad pro
@media only screen and (min-width: $mediaLaptopMin) and (max-width: $mediaLaptopMax) {
    .banner {
        &_img {
            height: 320px;
        }
        &_content {
            width: 40%;
            left: 4%;
        }
    }
}

// for  tablets
@media (max-width: $mediaTabMax) {
    .banner {
        &_img {
            height: 260px;
        }
        &_content {
            width: 40%;
            left: 4%;
        }
        &_head {
            font-size: 2rem;
        }
        &_text {
            font-size: 1.4rem;
        }
        &_btn {
            width: 32%;
        }
    }
    .newArrivals {
        &_content {
            flex-wrap: wrap;
            .product-item {
                width: 48.8%;
                margin-right: $margin;
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 720px) {
    .newArrivals {
        &_content {
            .product-item {
                width: 48%;
            }
        }
    }
}

// for mobile device
@media (max-width: $mediaTabMin) {
    .banner {
        &_img {
            display: none;
        }
        &_content {
            width: 100%;
            position: static;
            background: $black-343A40;
            padding: 16px;
            box-sizing: border-box;
        }
        &_head {
            font-size: 2rem;
        }
        &_text {
            font-size: 1.4rem;
        }
        &_btn {
            width: auto;
        }
    }
    .newArrivals {
        &_content {
            flex-wrap: wrap;
            .product-item {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}
