.order-history {
    &_empty-state {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &_image {
            width: 400px;
            opacity: 0.9;
        }

        &_text {
            p {
                margin-top: 18px;
                font-size: 24px;
            }
        }
    }
    &_item {
        &_progress {
            max-width: 400px;
        }
        h3 {
            span {
                font-weight: bold;
            }
        }
        margin-bottom: 20px;

        &_date {
            font-weight: bold;
        }

        &_products {

            margin-top: 20px;
            &_item {
                display: flex;
                margin-top: 10px;
                margin-bottom: 14px;
                a {
                    min-width: 100px;
                }
                &_image {
                    max-width: 100px;
                    max-height: 100px;
                }

                &_title {
                    margin-left: 10px;
                    font-weight: bold;
                }
            }
        }
    }
}
